html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'OpenSans-Regular', sans-serif;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../../build/assets/fonts/OpenSans-Regular.ttf");
}

.hide {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px rgba(99, 199, 32, 0.6), 0 0 0 0px rgba(230, 230, 230, 0.6);
    }
    100% {
        box-shadow: 0 0 10px 60px rgba(99, 199, 32, 0), 0 0 0 60px rgba(240, 240, 240, 0);
    }
}

@keyframes rippleRev {
    0% {
        box-shadow: 0 0 10px 60px rgba(99, 199, 32, 0), 0 0 0 60px rgba(240, 240, 240, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(99, 199, 32, 0.8), 0 0 0 0px rgba(230, 230, 230, 0.8);
    }
}

// @keyframes letter-glow {
//     0% {
//         opacity: 0;
//         text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1)
//     }
//     66% {
//         opacity: 1;
//         text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9)
//     }
//     77% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 1;
//         text-shadow: 0px 0px 20px rgba(255, 255, 255, 0)
//     }
// }