$first_black: #212121;
$first_white: rgb(10, 141, 143);
$bg_light_white: #e6eac9bb;
$bg_light_blue: rgba(25, 103, 221, 0.548);
$border: #2b2b2b17;
@mixin margin($vertical, $horizontal) {
    margin: $vertical $horizontal;
}

@mixin padding($vertical, $horizontal) {
    padding: $vertical $horizontal;
}

@mixin border($top, $right, $bottom, $left, $type, $color) {
    border-top: $top $type $color;
    border-right: $right $type $color;
    border-bottom: $bottom $type $color;
    border-left: $left $type $color;
}