@import '_var';
@import '_reset';
* {
    transition: all 200ms ease-out;
}

body {
    background: rgb(249, 247, 238);
    @include padding(30px, 85px);
    h1 {
        font-weight: 400;
        padding-bottom: 10px;
    }
}

.item_content-for-reg-user {
    background: rgb(255, 255, 255);
    display: flex;
    height: 500px;
    @include border(1px, 1px, 0px, 1px, solid, $border);
    font-size: 3em;
    font-weight: 600;
    span {
        margin: auto;
        text-align: center;
    }
}

.hide {
    display: none;
}

.block {
    display: flex;
    justify-content: space-between;
    .block__item_big {
        width: 65%;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        .item__content {
            background: rgb(255, 255, 255);
            display: flex;
            flex-flow: column wrap;
            @include border(1px, 1px, 0px, 1px, solid, $border);
            .box {
                display: flex;
                flex-flow: row nowrap;
                @include padding(20px, 30px);
                @include border(0, 0, 1px, 0, solid, $border);
                h4 {
                    width: 25%;
                }
            }
            .box__info-main {
                display: flex;
                flex-flow: column wrap;
                h4 {
                    width: 100%;
                    padding-bottom: 10px;
                }
                .info-commentary {
                    flex-flow: column wrap;
                    a {
                        font-size: 0.8em;
                        height: 22px;
                        padding-left: 25%;
                    }
                    textarea {
                        resize: none;
                        align-self: center;
                        width: 50%;
                        flex-wrap: nowrap;
                        height: 0px;
                        opacity: 0;
                        transition: all 500ms ease-out;
                    }
                    .activeComment {
                        height: 100px;
                        opacity: 1;
                    }
                }
            }
            .box__info-delivery {
                display: flex;
                flex-flow: column wrap;
                #adressStock {
                    flex-grow: 2;
                }
            }
            .button-checkout {
                justify-content: center;
                button {
                    background-color: rgb(99, 191, 32);
                    font-size: 1.1em;
                    font-weight: 600;
                    color: rgb(255, 255, 255);
                    @include padding(5px, 15px);
                    @include border(0px, 0px, 1px, 0px, solid, $border);
                    border-radius: 20px;
                    cursor: pointer;
                    outline: none;
                    animation: ripple 3500ms infinite;
                    z-index: 10;
                }
                button:hover {
                    animation: rippleRev 800ms cubic-bezier(.34, .20, .83, .45);
                }
            }
        }
        .hide {
            display: none;
        }
        .input_item {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            @include padding(10px, 0px);
            span {
                width: 25%;
                font-size: 0.9em;
                color: rgb(150, 150, 150);
                height: 22px;
            }
            input {
                width: 40%;
                height: 22px;
                border: 1px groove #2b2b2b80;
                border-radius: 3px;
                @include padding(0px, 5px);
            }
        }
        .item_nav {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            .nav {
                border: 1px solid $border;
                border-bottom: 0;
                @include padding(15px, 15px);
                background: rgb(249, 247, 238);
                font-weight: 600;
                font-size: 0.8em;
                white-space: pre-wrap;
                max-width: 25%;
                cursor: pointer;
                color: rgb(32, 115, 179);
                span {
                    border-bottom: 1px dotted rgb(32, 115, 179);
                }
            }
            .active {
                background: rgb(255, 255, 255);
                color: #000;
                cursor: default;
                span {
                    border-bottom: 0;
                }
            }
            .nav:first-child {
                border-right: 0;
            }
        }
    }
    .block__item_small {
        width: 33%;
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        align-self: flex-start;
        @include border(1px, 1px, 0px, 1px, solid, $border);
        .box_order {
            position: relative;
            display: flex;
            @include padding(15px, 15px);
            @include border(0px, 0px, 1px, 0px, solid, $border);
            img {
                height: 70px;
            }
            .about-all-items {
                font-size: 0.8em;
                @include padding(0px, 15px);
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                cursor: pointer;
                .about-item {
                    color: rgb(32, 115, 179);
                    border-bottom: 1px dotted rgb(32, 115, 179);
                }
                .item-price {
                    color: rgb(150, 150, 150);
                }
                .price_absolute {
                    position: absolute;
                    bottom: 15px;
                    right: 20px;
                    font-weight: 600;
                    opacity: 0;
                }
            }
        }
        .box_order:not(:nth-child(3n+1)):hover {
            background-color: rgb(190, 190, 190);
            .price_absolute {
                opacity: 1;
            }
        }
        .price-sum {
            font-weight: 600;
            span {
                width: 100%;
                text-align: right;
            }
        }
    }
}

@import '_adaptive';